:root {
	--color-white-100: hsl(165, 59%, 47%);
	--color-white-200: hsl(165, 60%, 42%);
	--color-white-300: hsl(165, 60%, 38%);
	--color-white-400: hsl(165, 60%, 35%);
	--color-white-500: hsl(165, 60%, 30%);
	/*  */
	--color-black-200: hsl(0, 0%, 99%);
	--color-black-300: hsl(0, 0%, 100%);
	--color-black-400: hsl(0, 0%, 100%);
	--color-black-500: hsl(188, 80%, 98%);
	--color-black-600: hsl(188, 73%, 85%);
	--color-black-700: hsl(0, 0%, 88%);
	--color-black-800: hsl(0, 0%, 64%);
	/*  */
	--color-blue-100: hsl(214, 95%, 93%);
	--color-blue-200: hsl(213, 97%, 87%);
	--color-blue-300: hsl(212, 96%, 78%);
	--color-blue-400: hsl(213, 94%, 68%);
	--color-blue-500: hsl(217, 91%, 60%);
	--color-blue-600: hsl(221, 83%, 53%);
	--color-blue-700: hsl(224, 76%, 48%);
	--color-blue-800: hsl(226, 71%, 40%);
	--color-blue-900: hsl(224, 64%, 33%);
	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 100%;
	box-sizing: inherit;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: clamp(1rem, 2vw, 1.125rem);
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}
header {
	height: -webkit-fill-available;
	color: var(--color-white-100);
	background-color: var(--color-black-500);
	position: relative;
	padding-bottom: 100px;
	/* height: 100vh; */
}

main {
	overflow: hidden;
}

a,
button {
	color: var(--color-white-200);
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: none;
	box-shadow: none;
	text-decoration: none;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

.section {
	margin: 0 auto;
	padding: 6rem 0 1rem;
}

.container {
	max-width: 75rem;
	height: auto;
	margin: 0 auto;
	padding: 0 1.25rem;
}

.centered {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1rem;
}

.heading-xl {
	font-family: inherit;
	font-size: clamp(2.648rem, 6vw, 4.241rem);
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: -1px;
}
.heading-lg {
	font-family: inherit;
	font-size: clamp(2.179rem, 5vw, 3.176rem);
	font-weight: 700;
	line-height: 1.15;
	letter-spacing: -1px;
}
.heading-md {
	font-family: inherit;
	font-size: clamp(1.794rem, 4vw, 2.379rem);
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: -1px;
}
.heading-sm {
	font-family: inherit;
	font-size: clamp(1.476rem, 3vw, 1.782rem);
	font-weight: 600;
	line-height: 1.5;
}
.heading-xs {
	font-family: inherit;
	font-size: clamp(1.215rem, 2vw, 1.335rem);
	font-weight: 500;
	line-height: 1.5;
}

.paragraph {
	font-family: inherit;
	font-size: clamp(1rem, 2vw, 1.125rem);
	text-wrap: balance;
	color: var(--color-white-200);
}

.banner-image {
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background-color: gold;
}

.btn {
	display: inline-block;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	text-transform: unset;
	transition: all 0.3s ease-in-out;
}
.btn-inline {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	-moz-column-gap: 0.5rem;
	column-gap: 0.5rem;
}
.btn-darken {
	padding: 0.75rem 2rem;
	color: var(--color-white-100);
	background-color: var(--color-black-200);
	box-shadow: var(--shadow-medium);
}
.btn-neutral {
	padding: 0.75rem 2rem;
	color: var(--color-black-500);
	background-color: var(--color-white-500);
	box-shadow: var(--shadow-medium);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: auto;
	margin: 0 auto;
	transition: all 0.35s ease;
}

.navbar {
	height: 100px;
}

.header.on-scroll {
	background: var(--color-black-300);
	box-shadow: var(--shadow-medium);
}

nav {
	height: 100px;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	width: 100%;
	height: 4.25rem;
	margin: 0 auto;
}

.brand {
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -1px;
	color: var(--color-white-100);
	text-transform: uppercase;
}

.menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: auto;
	padding: 4rem 0 3rem;
	overflow: hidden;
	background-color: var(--color-black-300);
	box-shadow: var(--shadow-medium);
	transition: all 0.4s ease-in-out;
}
.menu.is-active {
	top: 0;
	width: 100%;
	height: auto;
}
.menu-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1.25rem;
}
.menu-link {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	color: var(--color-white-100);
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.menu-block {
	display: inline-block;
	font-family: inherit;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.25;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-align: center;
	margin-left: auto;
	padding: 0.65rem 1.5rem;
	border-radius: 3rem;
	text-transform: capitalize;
	color: var(--color-white);
	background-color: var(--color-black-400);
	box-shadow: var(--shadow-medium);
	transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 48rem) {
	.menu {
		position: relative;
		top: 0;
		width: auto;
		height: auto;
		padding: 0rem;
		margin-left: auto;
		background: none;
		box-shadow: none;
	}
	.menu-inner {
		display: flex;
		flex-direction: row;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		margin: 0 auto;
	}
	.menu-link {
		text-transform: capitalize;
	}
	.menu-block {
		margin-left: 2rem;
	}
}

.burger {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	order: -1;
	z-index: 10;
	width: 1.6rem;
	height: 1.15rem;
	border: none;
	outline: none;
	background: none;
	visibility: visible;
	transform: rotate(0deg);
	transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
	.burger {
		display: none;
		visibility: hidden;
	}
}
.burger-line {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	border: none;
	outline: none;
	opacity: 1;
	border-radius: 1rem;
	transform: rotate(0deg);
	background-color: var(--color-white-100);
	transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
	top: 0px;
}
.burger-line:nth-child(2) {
	top: 0.5rem;
	width: 70%;
}
.burger-line:nth-child(3) {
	top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
	top: 0.5rem;
	transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
	opacity: 0;
	visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
	top: 0.5rem;
	transform: rotate(-135deg);
}

.banner-column {
	position: relative;
	display: grid;
	align-items: center;
	row-gap: 3rem;
}

@media only screen and (min-width: 48rem) {
	.banner-column {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		justify-content: center;
	}
}
@media only screen and (min-width: 64rem) {
	.banner-column {
		grid-template-columns: 1fr max-content;
		-moz-column-gap: 4rem;
		column-gap: 4rem;
		margin-top: 3rem;
	}
}

/* banner img */

.banner-image {
	display: block;
	max-width: 18rem;
	height: auto;
	margin-top: 2rem;
	-o-object-fit: cover;
	object-fit: cover;
	justify-self: center;
}
@media only screen and (min-width: 48rem) {
	.banner-image {
		order: 1;
		max-width: 20rem;
		height: auto;
	}
}
@media only screen and (min-width: 64rem) {
	.banner-image {
		max-width: 25rem;
		height: auto;
		margin-right: 5rem;
	}
}

/* banner inner */

.banner-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1.75rem;
}

/* banner icons */

.banner-links a i {
	transition: 0.3s transform linear;
	font-size: 28px;
}
.banner-links a i:hover {
	transform: scale(1.5);
}

/* telegram */
.banner-links .fa-telegram {
	color: rgb(32, 210, 255);
}
/* facebook */
.banner-links .fa-facebook {
	color: #1877f2;
}
/* instagram */
.banner-links .fa-instagram {
	background: -webkit-linear-gradient(
		#405de6,
		#5851db,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#f77737,
		#fcaf45,
		#ffdc80
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* vk */
.fa-youtube {
	color: red;
	background-color: white;
	border-radius: 50%;
}

/* banner links */

.banner-links {
	position: absolute;
	top: 30%;
	right: 1.5rem;
	display: grid;
	justify-items: center;
	row-gap: 0.7rem;
	opacity: 0;
	visibility: hidden;
}
@media only screen and (min-width: 64rem) {
	.banner-links {
		opacity: 1;
		visibility: visible;
	}
}
.banner-links > * {
	font-size: 1.5rem;
	line-height: 1.25;
	color: var(--color-white-100);
}
.banner-links::before {
	position: absolute;
	content: "";
	top: -3rem;
	width: 4rem;
	height: 1.5px;
	transform: rotate(90deg);
	background: var(--color-white-100);
}
.banner-links::after {
	position: absolute;
	content: "";
	bottom: -3rem;
	width: 4rem;
	height: 2px;
	transform: rotate(90deg);
	background: var(--color-white-100);
} /*# sourceMappingURL=main.css.map */
/* * * * */
/* scroll down */
/* * * * */
.box {
	position: absolute;
	bottom: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box span {
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 2px solid hsl(165, 60%, 42%);
	border-right: 2px solid hsl(165, 60%, 42%);
	transform: rotate(45deg);
	margin: -8px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

@media (max-width: 768px) {
	.box {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 480px) {
	.box {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* * * Section Start * * */

.sectionCard #cart .card {
	box-shadow: rgba(0, 0, 0, 0.411) 0px 25px 50px -12px;
	border-radius: 30px;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.sectionCard #cart .card:hover {
	transform: scale(1.08);
}

.sectionCard #cart .card img {
	border-radius: 30px 30px 0 0;
}
/* *** modal  */
.modal-body {
	padding: 20px !important;
}
/* * * SECTION INFO * * */

.sectionInfo .card {
	border-radius: 20px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	transition: transform 0.3s;
}
.sectionInfo .card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sectionInfo .card-body {
	padding: 20px;
}
.sectionInfo .card-text {
	font-size: 16px;
}
.sectionInfo .card-title {
	text-align: center;
	font-weight: 700;
}

/************************************************   test start */

.content_card {
	width: 304px;
	height: 190px;
	/* background-image: url(https://i.imgur.com/Rz138TZ.jpeg); */
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	padding: 10px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transform-style: preserve-3d;
	transform: perspective(1000px);
	/* box-shadow: 0 0 5px var(--color-black-800); */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: 0.3s scale linear;
}

/* add hover with media query if browser supports hover */
@media (hover: hover) {
	.content_card:hover {
		scale: 1.1;
	}

	.content_card:hover span h1 {
		transform: translateZ(150px) scale(1.1);
	}
}

.content_card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), transparent 90%);
}

.content_card.active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 217, 0, 0.848), rgba(0, 0, 0, 0.5));
}

.content_card.active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 217, 0, 0.848), transparent);
	z-index: 1;
}
.content_card span {
	position: absolute;
	transform: translateZ(40px);
	position: relative;
	z-index: 2;
	transform-style: preserve-3d;
}
.content_card span h1 {
	font-size: 18px;
	font-weight: 700;
	transform: translateZ(40px);
	text-align: center;
	letter-spacing: 2px;
	transition: transform 0.3s ease-in-out;
}

.content_card.active span h1 {
	color: #fff;
}

.content_card span p {
	font-size: 16px;
	font-weight: 700;
}

.content_card i {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 10px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}
/* * * * *   Main Page Modal */
#modalContent {
	background-image: url(https://miuniversity.edu/wp-content/uploads/2020/03/stil-flRm0z3MEoA-unsplash-1200x450.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* * * * * 	SECTION TIMELINE */

.timeline h1 {
	text-align: center;
}

.timeline ul {
	--col-gap: 2rem;
	--row-gap: 2rem;
	--line-w: 0.25rem;
	display: grid;
	grid-template-columns: var(--line-w) 1fr;
	grid-auto-columns: max-content;
	column-gap: var(--col-gap);
	list-style: none;
	width: min(60rem, 90%);
	margin-inline: auto;
}

/* line */
.timeline ul::before {
	content: "";
	grid-column: 1;
	grid-row: 1 / span 20;
	background: rgb(225, 225, 225);
	border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline ul li:not(:last-child) {
	margin-bottom: var(--row-gap);
}

/* card */
.timeline ul li {
	grid-column: 2;
	--inlineP: 1.5rem;
	margin-inline: var(--inlineP);
	grid-row: span 2;
	display: grid;
	grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline ul li .date {
	--dateH: 3rem;
	height: var(--dateH);
	margin-inline: calc(var(--inlineP) * -1);

	text-align: center;
	background-color: var(--accent-color);

	color: white;
	font-size: 1.25rem;
	font-weight: 700;

	display: grid;
	place-content: center;
	position: relative;

	border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline ul li .date::before {
	content: "";
	width: var(--inlineP);
	aspect-ratio: 1;
	background: var(--accent-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
	position: absolute;
	top: 100%;

	clip-path: polygon(0 0, 100% 0, 0 100%);
	right: 0;
}

/* circle */
.timeline ul li .date::after {
	content: "";
	position: absolute;
	width: 2rem;
	aspect-ratio: 1;
	background: var(--bgColor);
	border: 0.3rem solid var(--accent-color);
	border-radius: 50%;
	top: 50%;

	transform: translate(50%, -50%);
	right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline ul li .title,
ul li .descr {
	background: var(--bgColor);
	position: relative;
	padding-inline: 1.5rem;
}
.timeline ul li .title {
	overflow: hidden;
	padding-block-start: 1.5rem;
	padding-block-end: 1rem;
	font-weight: 500;
}
.timeline ul li .descr {
	padding-block-end: 1.5rem;
	font-weight: 300;
}

/* shadows */
.timeline ul li .title::before,
ul li .descr::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 0.5rem;
	background: rgba(0, 0, 0, 0.5);
	left: 50%;
	border-radius: 50%;
	filter: blur(4px);
	transform: translate(-50%, 50%);
}
.timeline ul li .title::before {
	bottom: calc(100% + 0.125rem);
}

.timeline ul li .descr::before {
	z-index: -1;
	bottom: 0.25rem;
}

@media (min-width: 40rem) {
	.timeline ul {
		grid-template-columns: 1fr var(--line-w) 1fr;
	}
	.timeline ul::before {
		grid-column: 2;
	}
	.timeline ul li:nth-child(odd) {
		grid-column: 1;
	}
	.timeline ul li:nth-child(even) {
		grid-column: 3;
	}

	/* start second card */
	.timeline ul li:nth-child(2) {
		grid-row: 2/4;
	}

	.timeline ul li:nth-child(odd) .date::before {
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		left: 0;
	}

	.timeline ul li:nth-child(odd) .date::after {
		transform: translate(-50%, -50%);
		left: calc(100% + var(--col-gap) + var(--line-w) / 2);
	}
	.timeline ul li:nth-child(odd) .date {
		border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
	}
}
